<p id="notice"><%= notice %></p>

<p>
  <strong>Stripe event:</strong>
  <%= @stripe_event.stripe_event_id %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @stripe_event.kind %>
</p>

<p>
  <strong>Error:</strong>
  <%= @stripe_event.error %>
</p>

<%= link_to 'Edit', edit_stripe_event_path(@stripe_event) %> |
<%= link_to 'Back', stripe_events_path %>
