<section class="slice">
  <div class="container">
    <div class="row row-grid">
      
      <div class="col-lg-9">
        <% if @credit_cards.any? %>
            
            <div class="page-inner-header mb-4">
              <h5 class="mb-1">Your credit or debit card(s) on file</h5>
            </div>
            
            <% @credit_cards.each do |card| %>
                
                <div class="row mb-3">
                  <div class="col-8">
                    <i class="fa fa-credit-card mr-2"></i> <%= card.kind %> ending in <%= card.last_4 %> (Expires on <%= card.exp_mo %>/<%= card.exp_year %>)
                  </div>
                  <div class="col-4 text-right">
                    <a href="<%= credit_card_path(card) %>" class="text-light" data-toggle="tooltip" data-original-title="Remove card" data-method="delete" data-confirm="Are you sure?">
                      <i class="fa fa-trash-o"></i> Delete
                    </a>
                  </div>
                </div>
            <% end %>
        
        <% end %>
        
        <% if @credit_cards.empty? %>
            <div class="page-inner-header mb-4">
              <h5 class="mb-1">Attach a new card</h5>
              <p class="text-muted mb-0">Add you credit card for faster checkout process.</p>
            </div>
            
            <%= simple_form_for :credit_card, :html => { :id => "payment-form", class: "form-default mt-4" } do |f| %>
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-lg-8">
                        <h5>Credit or Debit Card</h5>
                        <p class="text-muted mt-2">Enter a credit or debit card below. All transactions are handled by our secure payment processor.</p>
                      </div>
                      <div class="col-lg-4 text-lg-right">
                        <img alt="Image placeholder" src="<%= image_path "icons/cards/mastercard.png" %>" width="40" class="mr-2">
                        <img alt="Image placeholder" src="<%= image_path "icons/cards/visa.png" %>" width="40" class="mr-2">
                        <img alt="Image placeholder" src="<%= image_path "icons/cards/american-express.png" %>" width="40" class="mr-2">
                        <img alt="Image placeholder" src="<%= image_path "icons/cards/discover.png" %>" width="40">
                      </div>
                    </div>
                    <div class="row mb-3 ml-1 mr-2">
                      <div id="card-element" style="width:100%;"></div>
                      <div id="card-errors" role="alert"></div>
                    </div>
                    <div class="text-right">
                      <button type="submit" class="btn btn-sm btn-primary" data-disable-with="Saving...">Save card</button>
                    </div>
                  </div>
                </div>
            <% end %>
        <% end  %>
      
      </div>
    </div>
  </div>
</section>

<script>

    // Create an instance of Elements.
    var elements = stripe.elements();

    // Custom styling can be passed to options when creating an Element.
    // (Note that this demo uses a wider set of styles than the guide below.)
    var style = {
        base: {
            color: '#32325d',
            lineHeight: '18px',
            fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
            fontSmoothing: 'antialiased',
            fontSize: '16px',
            '::placeholder': {
                color: '#aab7c4'
            }
        },
        invalid: {
            color: '#fa755a',
            iconColor: '#fa755a'
        }
    };

    // Create an instance of the card Element.
    var card = elements.create('card', {style: style});

    // Add an instance of the card Element into the `card-element` <div>.
    card.mount('#card-element');

    // Handle real-time validation errors from the card Element.
    card.addEventListener('change', function(event) {
        var displayError = document.getElementById('card-errors');
        if (event.error) {
            $('#payment-form').find('button').removeAttr('disabled').html("Save card")

            displayError.textContent = event.error.message;
        } else {
            displayError.textContent = '';
        }
    });

    // Handle form submission.
    var form = document.getElementById('payment-form');
    form.addEventListener('submit', function(event) {
        event.preventDefault();

        stripe.createToken(card).then(function(result) {
            if (result.error) {
                // Inform the user if there was an error.
                var errorElement = document.getElementById('card-errors');
                errorElement.textContent = result.error.message;
                $('#payment-form').find('button').removeAttr('disabled').html("Save card")
            } else {
                stripeTokenHandler(result.token);
            }
        });
    });

    function stripeTokenHandler(token) {
        var form = document.getElementById('payment-form');
        var hiddenInput = document.createElement('input');
        hiddenInput.setAttribute('type', 'hidden');
        hiddenInput.setAttribute('name', 'credit_card[token]');
        hiddenInput.setAttribute('value', token.id);
        form.appendChild(hiddenInput);
        form.submit();
    }
</script>