<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @credit_card.user_id %>
</p>

<p>
  <strong>Last 4:</strong>
  <%= @credit_card.last_4 %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @credit_card.kind %>
</p>

<p>
  <strong>Exp mo:</strong>
  <%= @credit_card.exp_mo %>
</p>

<p>
  <strong>Exp year:</strong>
  <%= @credit_card.exp_year %>
</p>

<p>
  <strong>Stripe card:</strong>
  <%= @credit_card.stripe_card_id %>
</p>

<%= link_to 'Edit', edit_credit_card_path(@credit_card) %> |
<%= link_to 'Back', credit_cards_path %>
