<% ts_id = if transport_session.id.nil? then action else transport_session.id end %>
<fieldset id="fielset-<%= ts_id %>">
	<div class="row">
		<!--[form:transport_session]-->
		<div class="form-element">
		  <label for="transport_session_name">Name</label>
		  <%= text_field 'transport_session', 'name', :value => transport_session.name 	%>
		</div>

		<div class="form-element">
		  <label for="transport_session_reservations_opening_date">Reservations opening date</label>
		  <%= datetime_select 'transport_session', 'reservations_opening_date',
						:default => transport_session.reservations_opening_date %>
		</div>

		<div class="form-element">
		  <label for="transport_session_on_campus_payment_deadline">Cash reservations closing date</label>
		  <%= datetime_select 'transport_session', 'cash_reservations_closing_date',
						:default => transport_session.cash_reservations_closing_date %>
		</div>

		<div class="form-element">
		  <label for="transport_session_cash_reservations_information">Cash Reservations Information</label>
		  <%= text_area 'transport_session', 'cash_reservations_information', :value => transport_session.cash_reservations_information %>
		</div>

<!--[eoform:transport_session]-->

	</div>
</fieldset>
