<% if !request.xhr? %>
<table class="ajax-scaffold" cellpadding="0" cellspacing="0">
  <tbody>
<% end %>
<tr id="<%= @options[:action] %>" >
  <td id="<%= @options[:action] %>" class="<%= @options[:action] %>" colspan="<%= num_columns %>">
    <%= form_tag ("/transport_sessions/#{@options[:action]}") do %>
      <%= render :partial => 'form' %>
    <% end %>
  </td>
</tr>
<% if !request.xhr? %>
  </tbody>
</table>
<% end %>
