<% bus_id = if bus.id.nil? then 0 else bus.id end %>
<% route_id = if bus.id.nil? then 0 else bus.route.id end %>
<fieldset id="fielset-<%= bus_id %>">
	<div class="row">
		<div class="form-element">
			<label for="bus_bus">Route</label>
			<%= select 'bus', 'route_id', Route.all.collect {|r| [r.readable_route, r.id]},
								 :selected => route_id %>
		</div>
		<div class="form-element">
			<label for="bus_going_away">Going away?</label>
			<%= select 'bus', 'going_away', [["true", "true"], ["false", "false"]],
								 :selected => bus.going_away %>
		</div>
		<div class="form-element">
			<label for="bus_seats">Seats</label>
			<%= text_field 'bus', 'seats', {:class=>"text-input", :value => bus.seats} %>
		</div>
	</div>

	<div class="row">
		<div class="form-element">
		  <label for="bus_departure">Departure</label>
		  <%= datetime_select 'bus', 'departure', :default => bus.departure  %>
		</div>
	</div>
</fieldset>
